@model ApplicationCore.Models.MovieDetailsResponseModel
@using System.Globalization

@*Display movie details(movie info/cast info/poster/rating)*@

@{
    ViewData["Title"] = "Details";
}
<html>

<head>
     <style>
          .banner {
              height: 250px;
              max-width:100%; 
              margin:auto;
              background-size: cover; 
              background-position: center;
              position: relative;
          }
     </style>
</head>
<div class="bg-dark">
    <div class="row banner">
        <div class="col-4">
            <div>
                <img src="@Model.PosterUrl" alt="@Model.Title" />
            </div>
        </div>
        <div class="col-6">
            <div>
                <h1 class="text-white text-center">
                    @Model.Title
                </h1>
                <small class="text-muted"> @Model.Tagline </small>
            </div>
            <div>
                @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                @foreach (var genre in Model.Genres)
                {
                    <a class="badge badge-pill badge-dark ml-1" asp-action="Genre" asp-route-id="@genre.Id">
                        @genre.Name
                    </a>
                }
            </div>
            <div class="row">
                @Model.Overview
            </div>
        </div>
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" class="btn btn-outline-dark bg-dark text-white btn-block btn-sm">
                        <i class="far fa-edit mr-1"></i>
                        REVIEW
                    </button>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-dark btn-light btn-lg btn-block btn-sm" asp-route-id="@Model.Id" asp-controller="User" asp-action="BuyMovie">
                        BUY @Model.Price
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-4 moviefacts">
        <h5>MOVIE FACTS</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="far fa-calendar-alt mr-1"></i>
                Release Date
                <span class="badge badge-pill badge-dark">@Model.ReleaseDate.Value.ToShortDateString()</span>
            </li>
            <li class="list-group-item">
                <i class="fas fa-hourglass-half mr-1"></i>
                Run Time
                <span class="badge badge-pill badge-dark">@Model.RunTime.Value m</span>
            </li>
            <li class="list-group-item">
                <i class="far fa-money-bill-alt mr-1"></i>
                Box Office
                <span class="badge badge-pill badge-pill badge-dark">@Model.Revenue?.ToString("C0")</span>
            </li>
            <li class="list-group-item">
                <i class="fas fa-dollar-sign mr-1"></i>
                Budget
                <span class="badge badge-pill badge-dark"> @Model.Budget?.ToString("C0") </span>
            </li>
            <li>
                <i class="fab fa-imdb mr-1"></i>
                <i class="fas fa-share-squaremr-1"></i>
            </li>
        </ul>
        <hr />
        <h5>TRAILERS</h5>
        <ul class="list-group list-group-flush">
            @foreach (var trailer in Model.Trailers)
            {
                <li class="list-group-item">
                    <i class="fab fa-youtube mr-1"></i>
                    <a class="badge badge-pill badge-dark ml-1"  href="@trailer.TrailerUrl"> 
                        @Model.Title : @trailer.Name
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-8 offset-1">
        <h5>CAST</h5>
        <table class="table">
            <tbody>
                @foreach (var cast in Model?.Casts)
                {
                    <tr>
                        <td>
                            <img src="@cast.PosterUrl" class="cast-small-img rounded-circle" alt="@cast.Name">
                        </td>
                        <td> @cast.Name </td>
                        <td> @cast.Character</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</html>